@charset "UTF-8";

html {
	overflow-y: scroll;
	/* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

/* リセットおまじない--------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0px;
	padding: 0px;
}

body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}

li {
	list-style: none;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

/* ここまでヘッダー */
img {
	border: 0px;
	vertical-align: bottom;
}

/* --------------------------------------------------- */

body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}

.sotowaku{
	text-align: center;
	margin: 10px auto;
}

.gyou1{
	display: flex;
	flex-direction: row;
	
}

.mainarea {
	display: flex;
	flex-direction: column;
	margin: 5px auto;
	/* border: 1px solid #f00; */
}

.mainarea .rowarea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px auto;
	width: 1000px;
	/* border: 1px solid #0f0; */
}

.mainarea .rowarea img{
	height: auto;
	width: 50%;
}

.mainarea .rowarea .cellarea{
	margin: 5px 5px;
	width: 330px;
	height: 330px;
	border: 1px solid #ccc;
	/* display: flex;
	align-content: column; */
}

.toptrack {
	width: 900px;
	height: 150px;
}

/* header {
	height: 60px;
	background: #eeeaec;
	text-align: center;
	position: relative;
	top:0px;
	width: 100%;
} */

header ul {
	width: 800px;
	margin: auto;
	display: flex;
}

header li {
	color: #acacac;
	width: 50%;
	line-height: 60px;
	transition: 0.2s;
	text-align: right;
	/*メニューをホバーした時の変化時間*/
}

header li:hover {
	/*メニューをホバーしたときに色が変わる*/
	color: #111;
}




footer {
	height: 80px;
	background: #eeeaec;
	width: 100%;
}

footer .copyright {
	color: #acacac;
	font-size: 12px;
	padding-top: 30px;
	letter-spacing: 1px;
}