<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="./static/css/style_pc.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="./static/css/style_sp.css">
	<script src="./static/js/jquery-3.6.0.min.js"></script>
	<script src="./static/js/common.js"></script>
    <title>か・わ・り 者</title>

</head>

<body>

    <header>
        <h1 >
            <!-- style="background-color: gray;" -->
            <!-- <a href="">
                <img src="../img/header0.png" alt="ロゴ"> -->
                <img src="static/img/header0.png">
                <p><a href="/">ヘッダーロゴ</a></p>
        </h1>
        <nav>
            <ul>
                <li><a href="new">新規登録</a></li>
                <li><a href="login">ログイン</a></li>
                <li>問い合わせ</li>
                <li><a href="/logout">ログアウト</a></li>
                <li><a href="/list">車両リスト</a></li>
            </ul>
        </nav>
    </header>
    

    {% block content %}]
    
    {% endblock %}



</body>
<footer>
    <h1 style="background-color: gray;">©️2021 SUNABACOamakusa2nd か・わ・り 者</h1>
</footer>
</html>