{% extends "base.html" %}
{% block content %}
<h1>車両リスト</h1>
<table border="1">
    <tr>
        <td>車種</td>
        <td>車番</td>
        <!-- <td>利用</td> -->
    </tr>
    {% for item in syaryou %}
    <tr>
        <td>{{item["veh"]}}</td>
        <td>{{item["namber"]}}</td>
        <!-- <td><a href="/add/{{item['flg']}}">可</a></td>
        <td><a href="/add/{{item['flg']}}">不可</a></td> -->
        <!-- <td>{{item['flg']}}</td> -->
    </tr>
    {% endfor %}
</table>

<button><a href="/add">追加</a></button>

{% endblock %}
